:root {
    --unfinished-color: rgb(0, 0, 255);
    --finished-color: rgb(0, 255, 0);
    --even-row-color: rgb(0, 255, 0);
    --odd-row-color: rgb(0, 0, 255);
}



table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    }

.topic-table td {
    width: 90px;
    padding: 8px;
    border: 1px solid black;
    }


.subject-table th {
    width: 180px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.static-task a, .dynamic-task a, .subject-menu a {
    background-color:rgb(9, 131, 207);
    width: 100px;
    padding: 5px;
    color: white;
    text-align: center;
    border: solid 2px black;
}


.topic-table td {
    table-layout: fixed;
    width: 100px;
}

.topic-table th {
    width: 150px;
}

.topic-table tr {
    width: 1000px;
}

.topic-table {
}


body {
    width: 1000px;
    font-family: sans-serif;  
    margin: auto; 
    margin-top: 20px;
}

.dynamic-task {
    visibility: hidden;
}

.interactive {
    /*visibility: hidden;*/
}

.times-table {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}



.main button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    }

.section button {
  padding:0px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
